In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib

from glob import glob

import requests

## 강남구 쓰레기통

In [49]:
gangnam_cbb = pd.read_csv('data/쓰레기통/서울특별시 강남구_담배꽁초 전용 쓰레기통_20220808.csv', encoding='cp949')
gangnam_cbb.head()

     동명                     설치주소               위  치
0   신사동     압구정로14길 6(신사동 548-4)     코다차야 남동쪽(가게 앞)
1   신사동   강남대로152길 14(신사동 513-2)  FLASH BAR 동쪽(전신주)
2   신사동  강남대로152길 29(신사동 515-12)      인사동촌 남쪽(가게 앞)
3   신사동   강남대로152길 34(신사동 514-8)           고향역(전신주)
4  논현1동       학동로2길 11 (취영루) 맞은편         영풍빌딩 주차장 옆

In [50]:
# 23, 24번째 값이 중복
gangnam_cbb[22:30]

      동명        설치주소            위  치
22  삼성1동  테헤란로81길 46         가게앞 모퉁이
23  삼성1동  테헤란로83길 12      제일주차장앞 보도상
24  삼성1동  테헤란로83길 12      제일주차장앞 보도상
25  삼성1동   삼성로92길 28          도로 모퉁이
26  삼성1동   삼성로96길 15  오징어세상가게 옆골목도로변
27  삼성1동  삼성로104길 22    주소지앞 모퉁이 보도상
28  삼성1동  봉은사로82길 32       주소지 앞 보도상
29  삼성1동  삼성로104길 17       주소지 앞 보도상

In [51]:
gangnam_cbb.shape

(45, 3)

In [54]:
gangnam_cbb = gangnam_cbb.drop_duplicates(ignore_index=True)

In [55]:
gangnam_cbb.shape

(44, 3)

In [56]:
gangnam_cbb['설치주소'] = gangnam_cbb['설치주소'].apply(lambda x: x.split('(')[0])

In [57]:
a = gangnam_cbb['설치주소'].str.split(' ')
a

0          [압구정로14길, 6]
1        [강남대로152길, 14]
2        [강남대로152길, 29]
3        [강남대로152길, 34]
4         [학동로2길, 11, ]
5           [학동로2길, 19]
6      [학동로2길, 47, 맞은편]
7     [봉은사로1길, 35, 맞은편]
8          [봉은사로1길, 32]
9        [봉은사로1길, 16, ]
10       [봉은사로1길, 16, ]
11     [학동로2길, 47, 맞은편]
12        [학동로2길, 13, ]
13       [논현동, 98-6, 앞]
14      [논현동, 97-20, 앞]
15      [논현동, 97-18, 앞]
16      [논현동, 97-17, 앞]
17      [논현동, 98-12, 앞]
18      [논현동, 98-12, 앞]
19     [논현동, 105-12, 앞]
20         [압구정로36길, 8]
21        [삼성로100길, 24]
22        [테헤란로81길, 46]
23        [테헤란로83길, 12]
24         [삼성로92길, 28]
25         [삼성로96길, 15]
26        [삼성로104길, 22]
27        [봉은사로82길, 32]
28        [삼성로104길, 17]
29        [삼성로104길, 28]
30    [, 테헤란로64길, 14, ]
31    [, 테헤란로64길, 19, ]
32     [, 선릉로86길, 34, ]
33     [, 삼성로85길, 42, ]
34     [, 선릉로90길, 56, ]
35     [, 삼성로85길, 33, ]
36         [선릉로90길, 56]
37            [강남대로468]
38            [강남대로438]
39            [강남대로422]
40         [테헤란로1길, 25]
41            [언주로98길7]
42           [언주로98길16]
43       [남부순환로361길, 7]
Name: 설치주소, dtype: object

In [58]:
for i in range(len(a)):
    if a[i][-1] == '맞은편':
        a[i] = a[i][:-1]
    elif a[i][-1] == '앞':
        a[i] = a[i][:-1]

In [59]:
for i in range(len(a)):
    if len(a[i]) == 1:
        a[i] = '서울특별시 강남구 ' + a[i][0]
    else:
        a[i] = '서울특별시 강남구 ' + a[i][0] + ' ' + a[i][1]

In [60]:
a

0       서울특별시 강남구 압구정로14길 6
1     서울특별시 강남구 강남대로152길 14
2     서울특별시 강남구 강남대로152길 29
3     서울특별시 강남구 강남대로152길 34
4        서울특별시 강남구 학동로2길 11
5        서울특별시 강남구 학동로2길 19
6        서울특별시 강남구 학동로2길 47
7       서울특별시 강남구 봉은사로1길 35
8       서울특별시 강남구 봉은사로1길 32
9       서울특별시 강남구 봉은사로1길 16
10      서울특별시 강남구 봉은사로1길 16
11       서울특별시 강남구 학동로2길 47
12       서울특별시 강남구 학동로2길 13
13       서울특별시 강남구 논현동 98-6
14      서울특별시 강남구 논현동 97-20
15      서울특별시 강남구 논현동 97-18
16      서울특별시 강남구 논현동 97-17
17      서울특별시 강남구 논현동 98-12
18      서울특별시 강남구 논현동 98-12
19     서울특별시 강남구 논현동 105-12
20      서울특별시 강남구 압구정로36길 8
21     서울특별시 강남구 삼성로100길 24
22     서울특별시 강남구 테헤란로81길 46
23     서울특별시 강남구 테헤란로83길 12
24      서울특별시 강남구 삼성로92길 28
25      서울특별시 강남구 삼성로96길 15
26     서울특별시 강남구 삼성로104길 22
27     서울특별시 강남구 봉은사로82길 32
28     서울특별시 강남구 삼성로104길 17
29     서울특별시 강남구 삼성로104길 28
30       서울특별시 강남구  테헤란로64길
31       서울특별시 강남구  테헤란로64길
32        서울특별시 강남구  선릉로86길
33        서울특별시 강남구  삼성로85길
34        서울특별시 강남구  선릉로90길
35        서울특별시 강남구  삼성로85길
36      서울특별시 강남구 선릉로90길 56
37        서울특별시 강남구 강남대로468
38        서울특별시 강남구 강남대로438
39        서울특별시 강남구 강남대로422
40      서울특별시 강남구 테헤란로1길 25
41        서울특별시 강남구 언주로98길7
42       서울특별시 강남구 언주로98길16
43    서울특별시 강남구 남부순환로361길 7
Name: 설치주소, dtype: object

In [61]:
gangnam_cbb['설치주소'] = a

In [62]:
gangnam_cbb.head()

     동명                   설치주소               위  치
0   신사동    서울특별시 강남구 압구정로14길 6     코다차야 남동쪽(가게 앞)
1   신사동  서울특별시 강남구 강남대로152길 14  FLASH BAR 동쪽(전신주)
2   신사동  서울특별시 강남구 강남대로152길 29      인사동촌 남쪽(가게 앞)
3   신사동  서울특별시 강남구 강남대로152길 34           고향역(전신주)
4  논현1동     서울특별시 강남구 학동로2길 11         영풍빌딩 주차장 옆

In [63]:
address = '서울특별시 강남구 압구정로14길 6'
url = "https://dapi.kakao.com/v2/local/search/address.json?query={}".format(address)
headers = {"Authorization": 'KakaoAK 9b47700a217b794a8878d97b26b723be'}
results = requests.get(url, headers=headers).json()['documents']
results

[{'address': {'address_name': '서울 강남구 신사동 548-4',
   'b_code': '1168010700',
   'h_code': '1168051000',
   'main_address_no': '548',
   'mountain_yn': 'N',
   'region_1depth_name': '서울',
   'region_2depth_name': '강남구',
   'region_3depth_h_name': '신사동',
   'region_3depth_name': '신사동',
   'sub_address_no': '4',
   'x': '127.022980226111',
   'y': '37.523858489259'},
  'address_name': '서울 강남구 압구정로14길 6',
  'address_type': 'ROAD_ADDR',
  'road_address': {'address_name': '서울 강남구 압구정로14길 6',
   'building_name': '',
   'main_building_no': '6',
   'region_1depth_name': '서울',
   'region_2depth_name': '강남구',
   'region_3depth_name': '신사동',
   'road_name': '압구정로14길',
   'sub_building_no': '',
   'underground_yn': 'N',
   'x': '127.022980226111',
   'y': '37.523858489259',
   'zone_no': '06029'},
  'x': '127.022980226111',
  'y': '37.523858489259'}]

In [75]:
address = '서울특별시 강남구 삼성로92길 28'
url = "https://dapi.kakao.com/v2/local/search/address.json?query={}".format(address)
headers = {"Authorization": 'KakaoAK 9b47700a217b794a8878d97b26b723be'}
results = requests.get(url, headers=headers).json()['documents']
results

[]

In [77]:
gangnam_cbb

      동명                   설치주소                      위  치
0    신사동    서울특별시 강남구 압구정로14길 6            코다차야 남동쪽(가게 앞)
1    신사동  서울특별시 강남구 강남대로152길 14         FLASH BAR 동쪽(전신주)
2    신사동  서울특별시 강남구 강남대로152길 29             인사동촌 남쪽(가게 앞)
3    신사동  서울특별시 강남구 강남대로152길 34                  고향역(전신주)
4   논현1동     서울특별시 강남구 학동로2길 11                영풍빌딩 주차장 옆
5   논현1동     서울특별시 강남구 학동로2길 19                    GS25 앞
6   논현1동     서울특별시 강남구 학동로2길 47                    공사장 담장
7   논현1동    서울특별시 강남구 봉은사로1길 35                 원할머니보쌈 좌측
8   논현1동    서울특별시 강남구 봉은사로1길 32             김봉남포차 앞(상호변경)
9   논현1동    서울특별시 강남구 봉은사로1길 16                    노랑통닭 앞
10  논현1동    서울특별시 강남구 봉은사로1길 16                     주차장 앞
11  논현1동     서울특별시 강남구 학동로2길 47                    공사장 부근
12  논현1동     서울특별시 강남구 학동로2길 13               자생한방병원주차장 앞
13  논현2동     서울특별시 강남구 논현동 98-6                     육일점 앞
14  논현2동    서울특별시 강남구 논현동 97-20                     청담소 앞
15  논현2동    서울특별시 강남구 논현동 97-18                 자연석 돌구이 앞
16  논현2동    서울특별시 강남구 논현동 97-17                    홍대찜닭 앞
17  논현2동    서울특별시 강남구 논현동 98-12                 한아름 한정식 앞
18  논현2동    서울특별시 강남구 논현동 98-12                 바른스시전문점 앞
19  논현2동   서울특별시 강남구 논현동 105-12           브라보 PBA SQURE 앞
20  압구정동    서울특별시 강남구 압구정로36길 8        라곱창~풀바셋(음식물수거통 옆)
21  삼성1동   서울특별시 강남구 삼성로100길 24                   가게앞 모퉁이
22  삼성1동   서울특별시 강남구 테헤란로81길 46                   가게앞 모퉁이
23  삼성1동   서울특별시 강남구 테헤란로83길 12                제일주차장앞 보도상
24  삼성1동    서울특별시 강남구 삼성로92길 28                    도로 모퉁이
25  삼성1동    서울특별시 강남구 삼성로96길 15            오징어세상가게 옆골목도로변
26  삼성1동   서울특별시 강남구 삼성로104길 22              주소지앞 모퉁이 보도상
27  삼성1동   서울특별시 강남구 봉은사로82길 32                 주소지 앞 보도상
28  삼성1동   서울특별시 강남구 삼성로104길 17                 주소지 앞 보도상
29  삼성1동   서울특별시 강남구 삼성로104길 28                 주소지 앞 보도상
30  대치4동     서울특별시 강남구  테헤란로64길         더 나인 오피스텔 앞 전신주 옆
31  대치4동     서울특별시 강남구  테헤란로64길                  전신주 옆 코너
32  대치4동      서울특별시 강남구  선릉로86길              896-25 건너편코너
33  대치4동      서울특별시 강남구  삼성로85길  대우아이빌멤버스1층 선릉미래공인중개사무소 앞
34  대치4동      서울특별시 강남구  선릉로90길              대우아이빌명문가앞 담장
35  대치4동      서울특별시 강남구  삼성로85길            카페디퍼 포스코점커피숍 앞
36  대치4동    서울특별시 강남구 선릉로90길 56              대우아이빌명문가앞 담장
37  역삼1동      서울특별시 강남구 강남대로468                    충림빌딩 뒤
38  역삼1동      서울특별시 강남구 강남대로438                     CGV 앞
39  역삼1동      서울특별시 강남구 강남대로422                    씨티극장 뒤
40  역삼1동    서울특별시 강남구 테헤란로1길 25               라공방강남2호 본점앞
41  역삼1동      서울특별시 강남구 언주로98길7                 역삼동 699-2
42  역삼1동     서울특별시 강남구 언주로98길16                역삼동 700-20
43  도곡1동  서울특별시 강남구 남부순환로361길 7                       NaN

In [64]:
def GetLatLng(address):
    
    url = "https://dapi.kakao.com/v2/local/search/address.json?query={}".format(address) #요청할 url 주소
    headers = {"Authorization": 'KakaoAK 9b47700a217b794a8878d97b26b723be'} #REST API 키(유효한 키)
    results = requests.get(url,
                          headers=headers).json()['documents'] #카카오 API 요청
    
    result = results[0]
    name = result['address_name']
    x = result['x'] # Lng, 경도
    y = result['y'] # Lat, 위도
    data = [name, x, y, address]
    return data

In [65]:
GetLatLng('서울특별시 강남구 압구정로14길 6')

['서울 강남구 압구정로14길 6',
 '127.022980226111',
 '37.523858489259',
 '서울특별시 강남구 압구정로14길 6']

In [80]:
GetLatLng('서울특별시 강남구 삼성로92길 27')

['서울 강남구 삼성로92길 27',
 '127.058532226672',
 '37.5083786932357',
 '서울특별시 강남구 삼성로92길 27']

In [81]:
GetLatLng('서울특별시 강남구 삼성로92길 29')

['서울 강남구 삼성로92길 29',
 '127.058778402547',
 '37.5083178432764',
 '서울특별시 강남구 삼성로92길 29']

In [88]:
latlnglist = []

In [89]:
for i in list(gangnam_cbb['설치주소'][:24]):
    latlnglist.append(GetLatLng(i))
    print(GetLatLng(i))

['서울 강남구 압구정로14길 6', '127.022980226111', '37.523858489259', '서울특별시 강남구 압구정로14길 6']
['서울 강남구 강남대로152길 14', '127.020699344217', '37.5171506735807', '서울특별시 강남구 강남대로152길 14']
['서울 강남구 강남대로152길 29', '127.021697932358', '37.5179477021889', '서울특별시 강남구 강남대로152길 29']
['서울 강남구 강남대로152길 34', '127.02210634185', '37.5177615692586', '서울특별시 강남구 강남대로152길 34']
['서울 강남구 학동로2길 11', '127.02273341768', '37.5105392729193', '서울특별시 강남구 학동로2길 11']
['서울 강남구 학동로2길 19', '127.022960047655', '37.5100607055782', '서울특별시 강남구 학동로2길 19']
['서울 강남구 학동로2길 47', '127.023672833289', '37.5086256248304', '서울특별시 강남구 학동로2길 47']
['서울 강남구 봉은사로1길 35', '127.024049967581', '37.5070191469956', '서울특별시 강남구 봉은사로1길 35']
['서울 강남구 봉은사로1길 32', '127.024515199807', '37.5068294798978', '서울특별시 강남구 봉은사로1길 32']
['서울 강남구 봉은사로1길 16', '127.024941721878', '37.5058765776821', '서울특별시 강남구 봉은사로1길 16']
['서울 강남구 봉은사로1길 16', '127.024941721878', '37.5058765776821', '서울특별시 강남구 봉은사로1길 16']
['서울 강남구 학동로2길 47', '127.023672833289', '37.5086256248304', '서울특별시 강남구 학동로2길 47']
['서울 강남구 학동로2길 13', '127.022801926675', '37.5104309589729', '서울특별시 강남구 학동로2길 13']
['서울 강남구 논현동 98-6', '127.035116116332', '37.5202377082743', '서울특별시 강남구 논현동 98-6']
['서울 강남구 논현동 97-20', '127.035163813298', '37.5206351264877', '서울특별시 강남구 논현동 97-20']
['서울 강남구 논현동 97-18', '127.035322545477', '37.5206855352869', '서울특별시 강남구 논현동 97-18']
['서울 강남구 논현동 97-17', '127.03546102616', '37.5207294627333', '서울특별시 강남구 논현동 97-17']
['서울 강남구 논현동 98-12', '127.036095252922', '37.5204072521637', '서울특별시 강남구 논현동 98-12']
['서울 강남구 논현동 98-12', '127.036095252922', '37.5204072521637', '서울특별시 강남구 논현동 98-12']
['서울 강남구 논현동 105-12', '127.037082627275', '37.5209844891559', '서울특별시 강남구 논현동 105-12']
['서울 강남구 압구정로36길 8', '127.031320992326', '37.5279511760453', '서울특별시 강남구 압구정로36길 8']
['서울 강남구 삼성로100길 24', '127.057278045951', '37.5098720924876', '서울특별시 강남구 삼성로100길 24']
['서울 강남구 테헤란로81길 46', '127.056274735406', '37.5097740048443', '서울특별시 강남구 테헤란로81길 46']
['서울 강남구 테헤란로83길 12', '127.057943840464', '37.5081957189617', '서울특별시 강남구 테헤란로83길 12']

In [90]:
for i in list(gangnam_cbb['설치주소'][25:]):
    latlnglist.append(GetLatLng(i))
    print(GetLatLng(i))

['서울 강남구 삼성로96길 15', '127.057075333082', '37.5090904790547', '서울특별시 강남구 삼성로96길 15']
['서울 강남구 삼성로104길 22', '127.056586087827', '37.5109410172372', '서울특별시 강남구 삼성로104길 22']
['서울 강남구 봉은사로82길 32', '127.055317832558', '37.5110991135466', '서울특별시 강남구 봉은사로82길 32']
['서울 강남구 삼성로104길 17', '127.055954807579', '37.5111971130935', '서울특별시 강남구 삼성로104길 17']
['서울 강남구 삼성로104길 28', '127.05702008388', '37.5112487718071', '서울특별시 강남구 삼성로104길 28']
['서울 강남구 테헤란로64길', '127.051309674582', '37.5039816325824', '서울특별시 강남구  테헤란로64길']
['서울 강남구 테헤란로64길', '127.051309674582', '37.5039816325824', '서울특별시 강남구  테헤란로64길']
['서울 강남구 선릉로86길', '127.05171067105', '37.5035948362881', '서울특별시 강남구  선릉로86길']
['서울 강남구 삼성로85길', '127.055535567476', '37.5048466687952', '서울특별시 강남구  삼성로85길']
['서울 강남구 선릉로90길', '127.05231763904', '37.5048727352622', '서울특별시 강남구  선릉로90길']
['서울 강남구 삼성로85길', '127.055535567476', '37.5048466687952', '서울특별시 강남구  삼성로85길']
['서울 강남구 선릉로90길 56', '127.053831329394', '37.5050311726932', '서울특별시 강남구 선릉로90길 56']
['서울 강남구 강남대로 468', '127.025144947963', '37.5041550738018', '서울특별시 강남구 강남대로468']
['서울 강남구 강남대로 438', '127.026336096148', '37.5016428104731', '서울특별시 강남구 강남대로438']
['서울 강남구 강남대로 422', '127.026984908497', '37.5003941401087', '서울특별시 강남구 강남대로422']
['서울 강남구 테헤란로1길 25', '127.027400362129', '37.4999757073577', '서울특별시 강남구 테헤란로1길 25']
['서울 강남구 언주로98길 7', '127.042455855974', '37.5051532098345', '서울특별시 강남구 언주로98길7']
['서울 강남구 언주로98길 16', '127.042975710463', '37.5048613664371', '서울특별시 강남구 언주로98길16']
['서울 강남구 남부순환로361길 7', '127.037279154327', '37.4855719348865', '서울특별시 강남구 남부순환로361길 7']

In [91]:
latlnglist

[['서울 강남구 압구정로14길 6',
  '127.022980226111',
  '37.523858489259',
  '서울특별시 강남구 압구정로14길 6'],
 ['서울 강남구 강남대로152길 14',
  '127.020699344217',
  '37.5171506735807',
  '서울특별시 강남구 강남대로152길 14'],
 ['서울 강남구 강남대로152길 29',
  '127.021697932358',
  '37.5179477021889',
  '서울특별시 강남구 강남대로152길 29'],
 ['서울 강남구 강남대로152길 34',
  '127.02210634185',
  '37.5177615692586',
  '서울특별시 강남구 강남대로152길 34'],
 ['서울 강남구 학동로2길 11',
  '127.02273341768',
  '37.5105392729193',
  '서울특별시 강남구 학동로2길 11'],
 ['서울 강남구 학동로2길 19',
  '127.022960047655',
  '37.5100607055782',
  '서울특별시 강남구 학동로2길 19'],
 ['서울 강남구 학동로2길 47',
  '127.023672833289',
  '37.5086256248304',
  '서울특별시 강남구 학동로2길 47'],
 ['서울 강남구 봉은사로1길 35',
  '127.024049967581',
  '37.5070191469956',
  '서울특별시 강남구 봉은사로1길 35'],
 ['서울 강남구 봉은사로1길 32',
  '127.024515199807',
  '37.5068294798978',
  '서울특별시 강남구 봉은사로1길 32'],
 ['서울 강남구 봉은사로1길 16',
  '127.024941721878',
  '37.5058765776821',
  '서울특별시 강남구 봉은사로1길 16'],
 ['서울 강남구 봉은사로1길 16',
  '127.024941721878',
  '37.5058765776821',
  '서울특별시 강남구 봉은사로1길 16'],
 ['서울 강남구 학동로2길 47',
  '127.023672833289',
  '37.5086256248304',
  '서울특별시 강남구 학동로2길 47'],
 ['서울 강남구 학동로2길 13',
  '127.022801926675',
  '37.5104309589729',
  '서울특별시 강남구 학동로2길 13'],
 ['서울 강남구 논현동 98-6',
  '127.035116116332',
  '37.5202377082743',
  '서울특별시 강남구 논현동 98-6'],
 ['서울 강남구 논현동 97-20',
  '127.035163813298',
  '37.5206351264877',
  '서울특별시 강남구 논현동 97-20'],
 ['서울 강남구 논현동 97-18',
  '127.035322545477',
  '37.5206855352869',
  '서울특별시 강남구 논현동 97-18'],
 ['서울 강남구 논현동 97-17',
  '127.03546102616',
  '37.5207294627333',
  '서울특별시 강남구 논현동 97-17'],
 ['서울 강남구 논현동 98-12',
  '127.036095252922',
  '37.5204072521637',
  '서울특별시 강남구 논현동 98-12'],
 ['서울 강남구 논현동 98-12',
  '127.036095252922',
  '37.5204072521637',
  '서울특별시 강남구 논현동 98-12'],
 ['서울 강남구 논현동 105-12',
  '127.037082627275',
  '37.5209844891559',
  '서울특별시 강남구 논현동 105-12'],
 ['서울 강남구 압구정로36길 8',
  '127.031320992326',
  '37.5279511760453',
  '서울특별시 강남구 압구정로36길 8'],
 ['서울 강남구 삼성로100길 24',
  '127.057278045951',
  '37.5098720924876',
  '서울특별시 강남구 삼성로100길 24'],
 ['서울 강남구 테헤란로81길 46',
  '127.056274735406',
  '37.5097740048443',
  '서울특별시 강남구 테헤란로81길 46'],
 ['서울 강남구 테헤란로83길 12',
  '127.057943840464',
  '37.5081957189617',
  '서울특별시 강남구 테헤란로83길 12'],
 ['서울 강남구 삼성로96길 15',
  '127.057075333082',
  '37.5090904790547',
  '서울특별시 강남구 삼성로96길 15'],
 ['서울 강남구 삼성로104길 22',
  '127.056586087827',
  '37.5109410172372',
  '서울특별시 강남구 삼성로104길 22'],
 ['서울 강남구 봉은사로82길 32',
  '127.055317832558',
  '37.5110991135466',
  '서울특별시 강남구 봉은사로82길 32'],
 ['서울 강남구 삼성로104길 17',
  '127.055954807579',
  '37.5111971130935',
  '서울특별시 강남구 삼성로104길 17'],
 ['서울 강남구 삼성로104길 28',
  '127.05702008388',
  '37.5112487718071',
  '서울특별시 강남구 삼성로104길 28'],
 ['서울 강남구 테헤란로64길',
  '127.051309674582',
  '37.5039816325824',
  '서울특별시 강남구  테헤란로64길'],
 ['서울 강남구 테헤란로64길',
  '127.051309674582',
  '37.5039816325824',
  '서울특별시 강남구  테헤란로64길'],
 ['서울 강남구 선릉로86길', '127.05171067105', '37.5035948362881', '서울특별시 강남구  선릉로86길'],
 ['서울 강남구 삼성로85길',
  '127.055535567476',
  '37.5048466687952',
  '서울특별시 강남구  삼성로85길'],
 ['서울 강남구 선릉로90길', '127.05231763904', '37.5048727352622', '서울특별시 강남구  선릉로90길'],
 ['서울 강남구 삼성로85길',
  '127.055535567476',
  '37.5048466687952',
  '서울특별시 강남구  삼성로85길'],
 ['서울 강남구 선릉로90길 56',
  '127.053831329394',
  '37.5050311726932',
  '서울특별시 강남구 선릉로90길 56'],
 ['서울 강남구 강남대로 468',
  '127.025144947963',
  '37.5041550738018',
  '서울특별시 강남구 강남대로468'],
 ['서울 강남구 강남대로 438',
  '127.026336096148',
  '37.5016428104731',
  '서울특별시 강남구 강남대로438'],
 ['서울 강남구 강남대로 422',
  '127.026984908497',
  '37.5003941401087',
  '서울특별시 강남구 강남대로422'],
 ['서울 강남구 테헤란로1길 25',
  '127.027400362129',
  '37.4999757073577',
  '서울특별시 강남구 테헤란로1길 25'],
 ['서울 강남구 언주로98길 7',
  '127.042455855974',
  '37.5051532098345',
  '서울특별시 강남구 언주로98길7'],
 ['서울 강남구 언주로98길 16',
  '127.042975710463',
  '37.5048613664371',
  '서울특별시 강남구 언주로98길16'],
 ['서울 강남구 남부순환로361길 7',
  '127.037279154327',
  '37.4855719348865',
  '서울특별시 강남구 남부순환로361길 7']]

In [98]:
gangnam_latlng = pd.DataFrame(latlnglist)
gangnam_latlng.columns = ['address_name', '경도', '위도', '설치주소']
gangnam_latlng.head()

,address_name,경도,위도,설치주소
0,서울 강남구 압구정로14길 6,127.022980226111,37.523858489259,서울특별시 강남구 압구정로14길 6
1,서울 강남구 강남대로152길 14,127.020699344217,37.5171506735807,서울특별시 강남구 강남대로152길 14
2,서울 강남구 강남대로152길 29,127.021697932358,37.5179477021889,서울특별시 강남구 강남대로152길 29
3,서울 강남구 강남대로152길 34,127.02210634185,37.5177615692586,서울특별시 강남구 강남대로152길 34
4,서울 강남구 학동로2길 11,127.02273341768,37.5105392729193,서울특별시 강남구 학동로2길 11

In [99]:
gangnam_m = pd.merge(gangnam_latlng, gangnam_cbb, on=['설치주소'], how='left')
gangnam_m.drop_duplicates
print(gangnam_m.shape)
gangnam_m.head()

(53, 6)

,address_name,경도,위도,설치주소,동명,위 치
0,서울 강남구 압구정로14길 6,127.022980226111,37.523858489259,서울특별시 강남구 압구정로14길 6,신사동,코다차야 남동쪽(가게 앞)
1,서울 강남구 강남대로152길 14,127.020699344217,37.5171506735807,서울특별시 강남구 강남대로152길 14,신사동,FLASH BAR 동쪽(전신주)
2,서울 강남구 강남대로152길 29,127.021697932358,37.5179477021889,서울특별시 강남구 강남대로152길 29,신사동,인사동촌 남쪽(가게 앞)
3,서울 강남구 강남대로152길 34,127.02210634185,37.5177615692586,서울특별시 강남구 강남대로152길 34,신사동,고향역(전신주)
4,서울 강남구 학동로2길 11,127.02273341768,37.5105392729193,서울특별시 강남구 학동로2길 11,논현1동,영풍빌딩 주차장 옆

In [100]:
gangnam_m['시군구명']='강남구'

In [102]:
gangnam_m.columns

Index(['address_name', '경도', '위도', '설치주소', '동명', '위  치', '시군구명'], dtype='object')

In [104]:
gangnam_m = gangnam_m[['시군구명', '동명', 'address_name', '경도', '위도', '설치주소', '위  치']]
gangnam_m.head()

,시군구명,동명,address_name,경도,위도,설치주소,위 치
0,강남구,신사동,서울 강남구 압구정로14길 6,127.022980226111,37.523858489259,서울특별시 강남구 압구정로14길 6,코다차야 남동쪽(가게 앞)
1,강남구,신사동,서울 강남구 강남대로152길 14,127.020699344217,37.5171506735807,서울특별시 강남구 강남대로152길 14,FLASH BAR 동쪽(전신주)
2,강남구,신사동,서울 강남구 강남대로152길 29,127.021697932358,37.5179477021889,서울특별시 강남구 강남대로152길 29,인사동촌 남쪽(가게 앞)
3,강남구,신사동,서울 강남구 강남대로152길 34,127.02210634185,37.5177615692586,서울특별시 강남구 강남대로152길 34,고향역(전신주)
4,강남구,논현1동,서울 강남구 학동로2길 11,127.02273341768,37.5105392729193,서울특별시 강남구 학동로2길 11,영풍빌딩 주차장 옆

## 동작구 쓰레기통

In [105]:
dongjak_cbb = pd.read_csv('data/쓰레기통/서울특별시 동작구_담배꽁초 전용 쓰레기통 현황_20230427.csv', encoding='cp949')
dongjak_cbb.head()

   연번 설치장소(상호명)                도로명주소 비고(관리연합회)    데이터 기준일자
0   1    노량진생고기    서울특별시 동작구 만양로 108     상가연합회  2023-04-27
1   2     두꺼비식당  서울특별시 동작구 만양로 102-3     상가연합회  2023-04-27
2   3   명가왕족발보쌈     서울특별시 동작구 만양로 92     상가연합회  2023-04-27
3   4    짚신매운갈비     서울특별시 동작구 만양로 94     상가연합회  2023-04-27
4   5      노량해전  서울특별시 동작구 만양로 16길 4     상가연합회  2023-04-27

In [4]:
seocho_cbb = pd.read_csv('data/쓰레기통/서울특별시 서초구_담배꽁초수거함 현황_20220816.csv', encoding='cp949')
seocho_cbb.head()

,자치구명,해당동,설치위치,설치주체,청소관리,설치일자,위도,경도,비고
0,서초구,서초4동,교보타워(강남대로 465) 부지주차장 진입로 옆,교보타워,교보타워,2012-04-26,37.503756,127.024110,NaN
1,서초구,양재1동,엘타워 뒤 주차장 진입로 옆,엘타워,엘타워,2015-04-18,37.482767,127.034950,NaN
2,서초구,양재1동,서울가정행정법원 청사 출입계단 밑,서울가정법원,서울가정법원,2015-06-08,37.481245,127.036190,NaN
3,서초구,반포4동,고속버스터미널역 3번출구 앞,센트럴시티,센트럴시티,2018-03-16,37.504492,127.007845,NaN
4,서초구,서초2동,강남역 7번 출구와 8번출구 사이 보도 서초동 1319-5 앞,서초구보건소,청소행정과,2018-08-28,37.497326,127.027281,NaN